---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

body {
    font-family: "Helvetica";
    font-size: 14px;
}

ul {
    margin-left: 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

pre, code .highlighter-rouge {
    color: #333;
    border: none;
    font-size: 12px;
    background-color: #f5f5f5;
}

blockquote {
    font-size: 14px;
    color: #505050;
    font-style: italic;
}

.well {
    margin-top: 12px;
}

.well > h4 {
    word-wrap: break-word;
    margin: 0;
}

.link-list {
    padding-left: 0;
    list-style: none;
}

.post-link {
    display: inline;
}

.post-meta {
    color: #505050;
    font-size: 12px;
    line-height: 1;
}

a.post-meta {
    color: #337ab7;
}

.wrapper {
    padding-left: 3%;
    padding-right: 4%;
    margin-left: 0;
    margin-right: 0;
}

.navbar-brand {
    white-space: nowrap;  // screw you, Firefox.
}

.navbar-brand > img {
    display: inline;
}

.navbar {
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%);
    font-weight: lighter;
}

.site-header, .site-footer {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.site-footer {
    text-align: center;
    font-size: 75%;
}

.highlighter-rouge {
    color: #333;
    background-color: #f5f5f5
}

.fig {
    overflow: auto;
}

.fig > svg > rect {
    fill: #848484;
    stroke: black;
    stroke-width: 1;
}

.fig > svg > line {
    stroke: black;
    stroke-width: 1;
}

.music {
    margin-left: -4px;
    margin-right: -4px;
}
