---
layout: default
---

<div class="home">
  <h1 class="page-heading">Posts</h1>
  <p>Welcome to {{ site.title }}. Have a look around categories and tags, or see a list of all posts here.</p>
  <br/>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}  -
            {% include comma_sep_links.html links=post.categories type='categories' %}
        </span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
