<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="https://avatars1.githubusercontent.com/u/12951686" width="20" height="20"></img>
                    {{ site.title }}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for page in site.pages %}
                      {% if page.title %}
                      <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
  </div>

</header>
