<header class="post-header">
  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

  {% if page.date %}
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  {% endif %}

  {% if page.author %}
  <p class="post-meta"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></p>
  {% endif %}

  {% if page.categories != null %}
  <p class="post-meta">Categories: <span>{% include comma_sep_links.html links=page.categories type='categories' %}</span></p>
  {% endif %}

  {% if page.tags != null %}
  <p class="post-meta">Tags: <span>{% include comma_sep_links.html links=page.tags type='tags' %}</span></p>
  {% endif %}
</header>
