<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.metadata.title %}{{ page.metadata.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/picnic.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    {% block header %}
      <header>
      <nav>
        <a href="/" class="brand">
            <img src="/img/mwhamgenomics.png" width="20" height="20" />
            Genomics in B♭
        </a>

        <input id="minimenu" type="checkbox" class="show">
        <label for="minimenu" class="burger pseudo button"><img class="icon_large" src="/img/menu.svg" /></label>

        <div class="menu">
          <a href="/archive">All posts</a>
          <a href="/bioinformatics">Bioinformatics</a>
          <a href="/programming">Programming</a>
          <a href="/music">Music</a>
          <span class="divider"></span>
          <a href="/tags">Tags</a>
          <a href="/linux">Linux reference</a>
        </div>

      </nav>
    </header>
    {% endblock %}

    <div class="flex one two-800">
      <div class="three-fourth-800">{% block content %}{% block post_content %}{% endblock %}{% endblock %}</div>

      {% block sidebar %}
      <div class="fourth-800">
        <div class="sidebar">
          <h4>{{ site.title }}</h4>
          <p>
            <i class="fa fa-flask"></i> Biology<br/>
            <i class="fa fa-terminal"></i> Programming<br/>
            <i class="fa fa-music"></i> Music
          </p>

          <p>
            Built with <a href="https://python-markdown.github.io">Python-Markdown</a> and
            <a href="https://jinja.palletsprojects.com">Jinja2</a>. Styled with
            <a href="https://pygments.org">Pygments</a>, <a href="https://picnicss.com">Picnic CSS</a> and
            <a href="https://fontawesome.com">Font Awesome</a>. Hosted on
            <a href="https://pages.github.com">GitHub Pages</a>.
          </p>
          <a href="https://www.github.com/mwhamgenomics"><i class="fa fa-github"></i> mwhamgenomics</a>
        </div>
      </div>
      {% endblock %}

    </div>

    {% block footer %}
    <footer>
        <p>© http://github.com/mwhamgenomics</p>
    </footer>
    {% endblock %}

  </body>

</html>
