{% extends 'base.html' %}

{% block content %}
<h2>{{ page.metadata.title }}</h2>

{% if page.metadata.human_readable_date %}<p class="metadata">{{ page.metadata.human_readable_date }}</p>{% endif %}
{% if page.metadata.author %}<p class="metadata">{{ page.metadata.author }}</p>{% endif %}

{% if page.metadata.category != null %}
<p class="metadata">Category: <a href="/{{ page.metadata.category }}">{{ page.metadata.category }}</a></p>
{% endif %}

{% if page.metadata.tags != null %}
<p class="metadata">Tags: <span>
  {% for tag in page.metadata.tags %}
    <a href="/tags#{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
</span></p>
{% endif %}

{% block post_content %}{% endblock %}

<h2>External links</h2>

{% if page.metadata.external_links %}
  <ul>
    {% for link in page.metadata.external_links %}
      <li>
        {{ link.title }}: <a href="{{ link.link }}">{{ link.link }}</a>
        {% if link.description %}<p class="small_font">{{ link.description }}</p>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<p class="metadata">
  Previous post:
  {% if page.metadata.previous %}
    <a class="post-meta" href="{{ page.metadata.previous.url }}">{{ page.metadata.previous.metadata.title }}</a>
  {% else %}
    (none)
  {% endif %}
</p>

<p class="metadata">
  Next post:
  {% if page.metadata.next %}
    <a class="post-meta" href="{{ page.metadata.next.url }}">{{ page.metadata.next.metadata.title }}</a>
  {% else %}
    (none)
  {% endif %}
</p>


{% endblock %}
