---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% include page_title.html %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <h3>Links</h3>
    {% if page.external_links %}
        {% for link in page.external_links %}
            {{ link.title }}: <a href="{{ link.link }}">{{ link.link }}</a>
            <p class="post-meta">{{ link.description }}</p>
        {% endfor %}
    {% endif %}
    Previous post: {% if page.previous %}<a class="post-meta" href="{{ page.previous.url }}">{{ page.previous.title }}</a>{% else %}(none){% endif %}
    <br/>
    Next post: {% if page.next %}<a class="post-meta" href="{{ page.next.url }}">{{ page.next.title }}</a>{% else %}(none){% endif %}
</article>
